/* ============ Header Start Here ============ */

header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../../assets/images/cover.jpg");
  min-height: 793px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 200px 0;
}

#header-section .hero-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#header-section .hero-item h1 {
  max-width: 727px;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;

  text-align: center;
  letter-spacing: 0.2px;

  color: var(--light-text-color);
}

#header-section .hero-item p {
  max-width: 539px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;

  color: var(--light-text-color);
}

#header-section .hero-item .hero-btns {
  display: flex;
  gap: 10px;
}

#header-section .hero-item .hero-btns a {
  display: inline-block;
  padding: 10px 36px;
  gap: 10px;
  background: var(--primary-color);
  border-radius: 37px;

  font-weight: 700;
  font-size: 14px;
  line-height: 28px;

  text-align: center;
  letter-spacing: 0.2px;

  color: var(--light-text-color);
  transition:all 0.5s ease-in-out;
}


#header-section .hero-item .hero-btns a:hover{
    background-color: var(--hover-color);
     transition:all 0.5s ease-in-out;
   
}

#header-section .hero-item .hero-btns a.tra {
  background: transparent;
  border: 1px solid var(--light-text-color);
}


#header-section .hero-item .hero-btns a.tra:hover{
     background-color: var(--primary-color);
    
     transition:all 0.5s ease-in-out;
}